In [3]:
from modelling_functions import *

In [9]:
housing.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,4,1,65.0,8450,1,1,0,0,1,0,...,0,0,2,1,0,2,2008,1,2,208500
1,2,1,80.0,9600,1,1,0,0,1,2,...,0,0,2,1,0,5,2007,1,2,181500
2,4,1,68.0,11250,1,1,1,0,1,0,...,0,0,2,1,0,9,2008,1,2,223500
3,1,1,60.0,9550,1,1,1,0,1,1,...,0,0,2,1,0,2,2006,1,0,140000
4,4,1,84.0,14260,1,1,1,0,1,2,...,0,0,2,1,0,12,2008,1,2,250000

In [10]:
#### Read Data files
housing = pd.read_csv('../data/clean_train.csv').drop('Id', axis=1)
### Identifies columns by type obj
needs_numeric = housing.loc[:, housing.dtypes == "object"]
colname = list(needs_numeric.columns)
### Process Datafiles for Modelling
dict_dictonary = {}
for col in colname:
    housing.col, id_dictonary = to_numeric(housing, col, 'SalePrice')
    dict_dictonary.update({col : id_dictonary})
    
    

housing.columns = map(str.lower, housing.columns)
housing_features = housing.drop(['saleprice'], axis=1)
feat_labels = housing_features.columns


housing.saleprice = np.log(housing.saleprice)

C:\Users\Charlie\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:9: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  if __name__ == '__main__':

In [11]:
htest_id, htest_features, htest_labels, htest_dictonary = read_and_clean(filepath = "../data/clean_test.csv", test = True, dictonary = dict_dictonary)

C:\Users\Charlie\Google Drive\data science\projects\machina_ex_kaggle\modelling\modelling_functions.py:91: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  housing.col, id_dictonary = to_numeric_test(housing, col, dictonary)

In [13]:
### Modelling
_, _ = run_linear_model(housing, ['mssubclass','lotarea','neighborhood'], housing.saleprice, 0.20, LinearRegression)