In [1]:
from modelling_functions import *

In [2]:
housing, housing_features, feat_labels, dict_dictonary = read_and_clean(filepath = "../data/clean_train.csv")

C:\Users\Olympus\Project\machina_ex_kaggle\modelling\modelling_functions.py:107: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  housing.col, id_dictonary = to_numeric(housing, col, 'SalePrice')

In [3]:
htest_id, htest_features, htest_labels, htest_dictonary = read_and_clean(filepath = "../data/clean_test.csv", test = True, dictonary = dict_dictonary)

C:\Users\Olympus\Project\machina_ex_kaggle\modelling\modelling_functions.py:91: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  housing.col, id_dictonary = to_numeric_test(housing, col, dictonary)

In [4]:
# htest_features.columns

In [5]:
### Modelling
_, _ = run_linear_model(housing, ['mssubclass','lotarea','neighborhood'], housing.saleprice, 0.20, LinearRegression)

In [6]:
housing_train, housing_test, price_train, price_test = train_test_split(housing.loc[:,housing_features.columns],housing.saleprice,test_size=0.33, random_state = 20)

In [7]:
lasso, selected_coefs = run_linear_model(housing, housing.columns, housing.saleprice, 0.20, Lasso)

NameError: name 'Lasso' is not defined

In [31]:
housing_features = housing_features.iloc[:,selected_coefs]

In [9]:
housing_features.head()

,lotarea,yearbuilt,yearremodadd,masvnrarea,bsmtfinsf1,totalbsmtsf,x2ndflrsf,grlivarea,garageyrblt,garagearea,wooddecksf,miscval
0,8450,2003,2003,196.0,706,856,854,1710,2003,548,0,0
1,9600,1976,1976,0.0,978,1262,0,1262,1976,460,298,0
2,11250,2001,2002,162.0,486,920,866,1786,2001,608,0,0
3,9550,1915,1970,0.0,216,756,756,1717,1998,642,0,0
4,14260,2000,2000,350.0,655,1145,1053,2198,2000,836,192,0

In [35]:
housing_features.columns

Index(['lotarea', 'yearbuilt', 'yearremodadd', 'masvnrarea', 'bsmtfinsf1',
       'totalbsmtsf', 'x1stflrsf', 'x2ndflrsf', 'grlivarea', 'garageyrblt',
       'garagearea', 'wooddecksf', 'openporchsf', 'poolarea', 'miscval'],
      dtype='object')

In [50]:
trim = ['bsmtfinsf1', 'x1stflrsf', 'x2ndflrsf']
trimmed_cols = [x for x in housing_features.columns if x not in trim]

In [51]:
housing_features = housing_features.loc[:,trimmed_cols]

In [52]:
lm, _ = run_linear_model(housing_features, housing_features.columns, housing.saleprice, 0.20, LinearRegression)

In [53]:
results = np.exp(lm.predict(htest_features.loc[:,trimmed_cols]))

In [54]:
Submission(htest_id, results)