In [3]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_csv('../data/train.csv')

In [45]:
df1 = df.iloc[:,[0]+list(range(61,79))].set_index('Id')
df1[['GarageCars','GarageArea','GarageQual','GarageCond']].groupby('GarageCond').agg('count')

            GarageCars  GarageArea  GarageQual
GarageCond
Ex                   2           2           2
Fa                  35          35          35
Gd                   9           9           9
Po                   7           7           7
TA                1326        1326        1326